<%- include('bootheader') -%>

<div class="jumbotron">
  <head>
    <title> Team 9's Website </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Welcome to our website! </h1>
    <p>Our group members, Adharsh, Millan, Matthew, Steven, and Miranda, have all
      made websites this semester for COSI152a! For our group website, we created a
       quiz that will tell you who's website to go to. Feel free to explore
       all of the websites too! %></p><hr>

    <p> If you want to go to the quiz click <a href='/quiz'> here </a> </p>
  </body>


</div>

