<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Team Nine</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a id='quiz' class="nav-link" href="/quiz">Quiz</a>
      </li>
      <li class="nav-item">
        <a id='miranda' class="nav-link" href="/bios/miranda">Miranda</a>
      </li>
      <li class="nav-item">
        <a id='steven' class="nav-link" href="/bios/steven">Steven</a>
      </li>
      <li class="nav-item">
        <a id='adharsh' class="nav-link" href="/bios/adharsh">Adharsh</a>
      </li>
      <li class="nav-item">
        <a id='matthew' class="nav-link" href="/bios/matt">Matthew</a>
      </li>
      <li class="nav-item">
        <a id='millan' class="nav-link" href="/bios/millan">Millan</a>
      </li>
    </ul>


  </div>
</nav>
<hr>
<script type="text/javascript">
  document.getElementById("<%- variant %>").style.fontWeight = 'bold';
</script>
